@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Noto Serif", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Plus Jakarta Sans", sans-serif;

  --color-primary: #05647e;
  --color-primary-container: #317d98;
  --color-on-primary: #ffffff;
  --color-secondary: #9b4500;
  --color-secondary-container: #fc8a40;
  --color-on-secondary-container: #672c00;
  --color-tertiary: #815200;
  --color-background: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #414754;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  --color-outline: #717786;
  --color-outline-variant: #c1c6d7;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body;
  }
}

.serif-italic {
  font-family: "Noto Serif", serif;
  font-style: italic;
}

.glass-effect {
  backdrop-filter: blur(24px);
}